<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALM SERVO APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= API_KEY %>&callback=initMap">
    </script>
    <script type="module" src="/public/client.js" defer></script>
</head>
<body>
    


<aside>
    <section class="spotlight">
        <p>spotlight</p>
    </section>
    <section class="stats">
        <p>stats</p>
    </section>
    <section class="prices">
        <p>prices</p>
    </section>
    <section class="about">

        <h1>About</h1>
        <h3>Team name: CALM</h3>
        <h3>Members:</h3>
        <ul>
          <li>Carl: <a href="https://github.com/zycarlc">https://github.com/zycarlc</a></li>
          <li>Leon: <a href="https://github.com/Leon-Liang-YU">https://github.com/Leon-Liang-YU</a></li>
          <li>Mike: <a href="https://github.com/mountmike">https://github.com/mountmike</a></li>
          <li>Amal: <a href="https://github.com/ggsnipes">https://github.com/ggsnipes</a></li>
        </ul>
        <footer>&copy; 2023 CALM </footer>

    </section>
</aside>
<main>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
</main>
<aside>
    <section class="date">
        <p>date</p>
    </section>
    <section class="map-center">
        <p>map center</p>
    </section>
    <section class="nearest">
        <p>nearest</p>
    </section>
</aside>  
</body>
</html>
