<aside>
    <p>left</p>
    <section class="spotlight">
        <p>spotlight</p>
    </section>
    <section class="stats">
        <p>stats</p>
    </section>
    <section class="prices">
        <p>prices</p>
    </section>
    <section class="about">
        <h1>about</h1>
        <h3>team name: SEI</h3>
        <p>Carl: <a href="https://github.com/zycarlc">https://github.com/zycarlc</a></p>
        <footer>&copy; 2023 CALM </footer>
    </section>
</aside>
<main>
    <p>main</p>

</main>
<aside>
    <p>right</p>
    <section class="date">
        <p>date</p>
    </section>
    <section class="map-center">
        <p>map center</p>
    </section>
    <section class="nearest">
        <p>nearest</p>
    </section>
</aside>
