<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CALM SERVO APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js" defer></script>
    <script src="https://kit.fontawesome.com/57a970835f.js" crossorigin="anonymous"></script>
    <script type="module" src="/client.js" defer></script>
</head>
<body>
    <aside class="left">
        <section class="spotlight">
            <h3>Spotlight</h3>
            <div id="spotlight-info"></div>
            <a href="" id="refresh-spot">refresh</a>
        </section>
        <section class="stats">
            <h3>Stats</h3>

        </section>
        <section class="prices">
            <h3>Prices</h3>
            <div id="oilPriceDate"></div>
            <div id="wti-oil"></div>
            <div id="brent-oil"></div>
            <div id="naturl-gas"></div>
        </section>
        <section class="about">
            <h3>About</h3>
            <h5>TEAM CALM</h5>
            <ul>
            <li><a href="https://github.com/zycarlc">Carl</a></li>
            <li><a href="https://github.com/ggsnipes">Amal</a></li>
            <li><a href="https://github.com/Leon-Liang-YU">Leon</a></li>
            <li><a href="https://github.com/mountmike">Mike</a></li>
            </ul>
            <footer>&copy; 2023 CALM </footer>

        </section>
    </aside>
    <main>
        <!--The div element for the map -->
        <div id="map"></div>
    </main>
    <aside class="right">
        <section class="date">
            <i class="fa-regular fa-clock fa-lg"> </i>
            <p id="timeOutput"></p>
        </section>
        <section class="map-center">
            <div class="heading-wrapper">
                <h3>Map Center</h3>
                <i class="fa-solid fa-location-crosshairs fa-lg"></i>
            </div>
            <div class="map-center-info"></div>
            <div class="map-center-address"></div>
        </section>
        <section class="nearest">
            <h3>Nearest</h3>
            <div class="nearest-results"></div>
        </section>
    </aside>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <!-- <script type="module" src="/components/map_center.js"></script> -->
    <script type="module" src="/components/servo_list.js"></script>
    <script type="module" src="/components/servo_stats.js"></script>
    <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key: "<%= API_KEY %>",
          // Add other bootstrap parameters as needed, using camel case.
          // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
        });
      </script>
</body>
</html>
