<aside>
    <section class="spotlight">
        <p>spotlight</p>
    </section>
    <section class="stats">
        <p>stats</p>
    </section>
    <section class="prices">
        <p>prices</p>
    </section>
    <section class="about">

        <h1>about</h1>
        <h3>team name: SEI</h3>
        <p>Carl: <a href="https://github.com/zycarlc">https://github.com/zycarlc</a></p>
        <footer>&copy; 2023 CALM </footer>

        <p>about</p>
        <h2>Team members</h2>
        <ul>
            <li><a href="https://github.com/mountmike">Mike</a></li>
        </ul>

    </section>
</aside>
<main>
    <p>main</p>

</main>
<aside>
    <section class="date">
        <p>date</p>
    </section>
    <section class="map-center">
        <p>map center</p>
    </section>
    <section class="nearest">
        <p>nearest</p>
    </section>
</aside>
