<aside>
    <p>left</p>
    <section class="spotlight">
        <p>spotlight</p>
    </section>
    <section class="stats">
        <p>stats</p>
    </section>
    <section class="prices">
        <p>prices</p>
    </section>
    <section class="about">
        <p>about</p>
 
        <h4>team name: CALM</h2>
        <p>Mike</p>
        <p>Carlc</p>
        <p>Amal</p>
        <p>Leon</p>
        <footer>&copy 2023 May</footer>

    </section>
</aside>
<main>
    <p>main</p>

</main>
<aside>
    <p>right</p>
    <section class="date">
        <p>date</p>
    </section>
    <section class="map-center">
        <p>map center</p>
    </section>
    <section class="nearest">
        <p>nearest</p>
    </section>
</aside>
