* {
    border: red 1px solid;
}

body {
    margin: 0;
    display: flex;
    min-height: 100dvh;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 5;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

aside {
    flex: 1;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    height: ;
}